.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
218-Webpage.Rproj
.sass-cache/*
_site/*
*_cache/
*_files/
Moma_Data.csv
MetObjects.csv
Chicago_Crimes_2012_to_2017.*
PS/PS-06_discussion.Rmd
PS/PS-07_discussion.Rmd
PS/PS-08_discussion.Rmd
PS/PS-09_discussion.Rmd
PS/PS-10_discussion.Rmd
PS/PS-11_discussion.Rmd
PS/PS-12_discussion.Rmd
PS/PS.html
PS/PS.Rmd
PS/PS_code.R
*.DS_Store
