.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
218-Webpage.Rproj
.sass-cache/*
_site/*
*_cache/
*_files/
Moma_Data.csv
MetObjects.csv
Chicago_Crimes_2012_to_2017.*
PS/PS-*_discussion.*
PS/PS.html
*.DS_Store
