<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a target="_blank" class="page-link" href="https://rstudio.middlebury.edu/auth-sign-in">RStudio Server</a>
        <a class="page-link" href="{{ site.baseurl }}/problem-sets">Problem Sets</a>
        <a class="page-link" href="{{ site.baseurl }}/syllabus">Syllabus</a>
      </div>
    </nav>
  </div>
</header>
